@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
    font-size: 16px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    align-content: center;
}

#header-nav {
    height: 5em;
    padding-top: 20px;
    background-color: #000000;
    border-radius: 0;
    border: 0;
    width:100%;
    position: relative;
}
.navbar-brand {
    padding-top: 25px;
}

#content>.seed-form {
    max-width: 700px;
    padding: 30px;

    margin: 0 auto;
}
.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #ff5d20;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    clear:both;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#user{
    font-family: 'Lora', serif;
    color: #ff5825;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    font-size:0.8em;
    position: absolute;
}
#content{
    padding-top: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right:15%;
}

.form-seed {
    /* Just to center the form on the page */
    margin: auto;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
    width: 70%;
    /* To see the outline of the form */
    padding: 55px;
    border: 2px solid black;

    background-color: #29ee32;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    float:left;
    width: fit-content;
    padding-bottom: 10px;
    text-align: justify;
}

.row textarea {
    /* vertical-align: text-top; */
    horiz-align: left;
    height: 8em;
    width: 98.3%;
    box-sizing: content-box;
    font: 1em sans-serif;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px 1px #67eb6b;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

.form_submit{
    margin-top: 2em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px 40px;
    text-align: center;
}
#nr_lines{
    padding-bottom: 20px;
    display: inline-block;
    position:absolute;
}
.form_submit:hover {
    background-color: #6868af; /* Green */
    color: white;
}
#user_input{
    width:80%;
}
.buton{
    margin: auto;
    text-align: center;
    width: 100%;
}
.block{
    margin-top: 5%;
    border: 3px solid #ffff00;

}
.center {
    margin: auto;
    width: 50em;
    border: 3px solid #008000;
    border-radius: 10px;
    padding: 10px;
    background: #bce5bc;
}
.inline{
    display:inline-block;
}
.panel-footer .row{
    background-color: #000000;
}
.panel-footer{
    margin-top: 7em;
    height: 20%;
    background-color: #000000;
}
.list-group{
    border-radius: 0;
    background-color: #000000;
}
.list-group-item{
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
    border:0;
}
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
        width:100%;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 3.4vw; /* 1vw = 1% of viewport width */
    }
}
.btn {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.text_div{
    position:relative;
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 3vw; /* 1vw = 1% of viewport width */
    }
}

#datafile{
    display: inline-block;
    color: #5f5f5f;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    max-width: 405px;
    /*box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);*/
    padding: 12px 18px;
    /*border: 2px solid #67eb6b;*/
}
#datafile:hover{
    box-shadow: 1px 2px 4px 0 rgba(0, 101, 31, 0.68);
}
.row{
    max-width: 405px;
    text-align: left;
    margin: 10px auto 0;
    /*box-shadow: 1px 1px 6px 1px #3333336b;*/
    max-height: 155px;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


select{
    width: 100%;
    height:20px;
}

.datafile, label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #3b35af;
    display: inline-block;
    cursor: pointer;
}
.inputfile, label:hover {
    background-color: #35ff5c;
}
.inputfile, label:focus{
    outline: 10px dotted #000;
}
.datafile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
